@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.list-container {
  box-sizing: border-box;
  position: relative;
  width: 1786px;
  height: 100%;

  background: #FFFFFF;
  border: 1px solid #E5E7EB;
  border-radius: 20px;
}

/* Common styles */
.headers, .headers-fullname-container, .headers-fullname-container input, .otherHeaders-container,
.item, .fullname-container, .fullname-container input, .otherInfo-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}


.headers {
  padding: 8px 34px 8px 51px;
  gap: 10px;
  position: absolute;
  width: 1536px;
  height: 34px;
  left: 20px;
  top: 20px;
  background: #F9F9F9;
  border-radius: 29px;
}

.headers-fullname-container {
  padding-right: 500px;
  gap: 10px;
  margin: 0 auto;
  width: 70px;

  position: relative;
  right: 45px;

  box-sizing: border-box;
}

.headers-fullname-container input {
  box-sizing: border-box;
  
  width: 16px;
  height: 16px;

  background: #FFFFFF;
  border: 1px solid #D1D5DB;
  box-shadow: 0px 1px 2px rgba(31, 41, 55, 0.08);
  border-radius: 4px;

  flex: none;
}

.headers-fullname {
  margin: 0 auto;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 0.01em;
  color: #7D8594;
  mix-blend-mode: normal;
  opacity: 0.7;
}

.otherHeaders-container {
  align-items: flex-end;
  justify-content: center;
  padding: 0px;
  gap: 50px;
  margin: 0 auto;
  width: 664px;
  height: 18px;
}

.header-group {
  padding-right: 35px;
}

.header-phoneNumber {
  padding-right: 135px;
}

.header-mail {
  padding-right: 135px;
}


.otherHeaders-container h2 {
  width: 100px;
  height: 18px;

  margin: 0 auto;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0.01em;
  color: #7D8594;
  mix-blend-mode: normal;
  opacity: 0.7;
}


.students-list {
  width: 100%;
  margin-top: 50px; 
}

.list-wrapper {
  overflow-y: auto; 
  overflow-x: hidden; 
  max-height: 635px;  
}

.list-wrapper::-webkit-scrollbar {
  width: 10px;
  height: 10px; 
  background-color: #FFFFFF; 
}

.list-wrapper::-webkit-scrollbar-thumb {
  background-color: #B8C2FF; 
  border: 1px solid #B8C2FF; 
  border-radius: 5px; 
}



.item {
  justify-content: space-between;
  align-items: center;
  padding: 14px 45px;
  gap: 40px;

  position: relative;
  padding: 8px 34px 8px 51px;
  gap: 10px;

  left: 20px;
  top: 20px;
}

.item:nth-child(even) {
  background-color: #F9FAFB;
}

.fullname-container {
  justify-content: space-between;
  align-items: center;
  padding-left: 24px;
  gap: 10px;

  margin: 0 auto;
}

.fullname-container input {
  box-sizing: border-box;

  align-items: flex-start;
  padding: 0px;

  width: 16px;
  height: 16px;

  margin-right: 10px;

  background: #FFFFFF;

  border: 1px solid #D1D5DB;

  box-shadow: 0px 1px 2px rgba(31, 41, 55, 0.08);
  border-radius: 4px;
}

.fullname-container p,
.otherInfo-container p {
  height: 18px;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;

  text-align: center;
  letter-spacing: 0.01em;

  color: #7D8594;

  mix-blend-mode: normal;
  opacity: 0.7;
}


.otherInfo-container {
  align-items: center;
  justify-content: center;
  padding: 0px;

  flex: 1;

  margin: 0 auto;
}

.specialization {
  position: relative;
  left: 30px;
}

.group {
  position: relative;
  left: 60px;
}

.phoneNumber {
  position: relative;
  left: 80px;
}

.mail {
  position: relative;
  left: 120px;
}

.teacher {
  position: relative;
  left: 160px;
}


