.sidebar {
  position: relative;
  min-width: 0px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  transition: all 0.3s ease-in-out;
  color: #1c274c;
  max-width: var(--sidebar-open-width);
}

.sidebar.open {
  min-width: var(--sidebar-open-width);
}

.logo {
  margin: 30px 0px;
}
.logo a {
  text-decoration: none;
  color: inherit;
}

.double-arrow {
  position: absolute;
  right: -12px;
  top: 50px;
  cursor: pointer;
  transform: rotateY(180deg);
  transition: all 0.3s ease-in-out;
  overflow: visible;
}
.sidebar.open .double-arrow {
  transform: rotateY(0deg);
}

.menu-items {
  flex: 1;
  width: 100%;
}

.menu-item {
  all: inherit;
  padding: 10px;
  margin: 12px 0;
  border-radius: 10px;
  font-size: 1rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.menu-item:first-of-type {
  background-color: #6574d8;

  color: #ffffff;
}

.sidebar.open .menu-item {
  justify-content: start;
}

.logout {
  width: 100%;
}

/* You'll need to include a font-awesome CDN link in your index.html for the icons */
