.header {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
  background-color: #fff; /* Adjust the color to match your design */
  box-shadow: 0 4px 20px 4px rgba(0, 0, 0, 0.05); /* Just a suggestion for shadow */
  border-radius: 0 0 25px 25px;
}

.header-fullname {
  color: #1c274c;
  font-size: 1.2rem; /* Adjust the size as needed */
  font-weight: bold;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header-search {
  display: flex;
  align-items: center;
  background-color: #f0f0f0; /* Adjust the color to match your design */
  padding: 5px 10px;
  border-radius: 20px; /* Adjust the border-radius to match your design */
}

.header-search-input {
  all: inherit;
  border: none;
  outline: none;
  margin-left: 8px;
}

.header-icon {
  color: #1c274c; /* Adjust the color to match your design */
  cursor: pointer;
}

/* Additional styles for hover effects or responsive behavior can be added as needed */
