.header {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 28px;
  background-color: #fff; /* Adjust the color to match your design */
  border-radius: 20px;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header-search {
  display: flex;
  align-items: center;
  background-color: #f6f8fb; /* Adjust the color to match your design */
  padding: 10px;
  border-radius: 20px; /* Adjust the border-radius to match your design */
  color: #a2a2c2;
}

.header-search-input {
  all: inherit;
  border: none;
  outline: none;
  margin-left: 8px;
  padding: 0;
}

.avatar {
  display: flex;
  gap: 13px;
}

.avatar div {
  display: flex;
  flex-direction: column;
}

.avatar-text {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.avatar .name {
  color: #1f2937;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.4rem;
}

.avatar .title {
  color: #6b7280;
  font-size: 1rem;
}

/* Additional styles for hover effects or responsive behavior can be added as needed */
