.statistics {
  flex: 1;
  padding: 20px;
  background: white;
  border-radius: 8px;
  /* Additional styling */
}

.statistics-header {
  padding-bottom: 16px;
  border-bottom: 2px solid #d2befb;
}

.header-title {
  color: #aeabb6;
  padding-bottom: 0.5rem;
}

.header-desc {
  font-size: 1.25rem;
  font-weight: bold;
  color: #1c274c;
}
